In [1]:
import pandas as pd
import numpy as np

from sklearn.svm import SVC

### Загрузите выборку из файла svm-data.csv. В нем записана двумерная выборка (целевая переменная указана в первом столбце, признаки — во втором и третьем).

In [4]:
data = pd.read_csv('svm-data.csv', header=None)

In [5]:
data.head()

     0     1     2
0  0.0  0.70  0.29
1  1.0  0.23  0.55
2  0.0  0.72  0.42
3  0.0  0.98  0.68
4  0.0  0.48  0.39

In [6]:
X = data.drop([0], axis=1).copy()
y = data[0].copy()

del data

In [7]:
X.head()

      1     2
0  0.70  0.29
1  0.23  0.55
2  0.72  0.42
3  0.98  0.68
4  0.48  0.39

In [8]:
y.head()

0    0.0
1    1.0
2    0.0
3    0.0
4    0.0
Name: 0, dtype: float64

### Обучите классификатор с линейным ядром, параметром C = 100000 и random_state=241. Такое значение параметра нужно использовать, чтобы убедиться, что SVM работает с выборкой как с линейно разделимой. При более низких значениях параметра алгоритм будет настраиваться с учетом слагаемого в функционале, штрафующего за маленькие отступы, из-за чего результат может не совпасть с решением классической задачи SVM для линейно разделимой выборки.

In [9]:
clf = SVC(C=100000, random_state=241, kernel='linear')

In [10]:
clf.fit(X, y)

SVC(C=100000, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=241,
  shrinking=True, tol=0.001, verbose=False)

### Найдите номера объектов, которые являются опорными (нумерация с единицы). Они будут являться ответом на задание. Обратите внимание, что в качестве ответа нужно привести номера объектов в возрастающем порядке через запятую или пробел. Нумерация начинается с 1.

In [21]:
def arr_to_str(arr):
    s = [str(i) for i in arr]
    
    return ' '.join(s)

In [26]:
with open('output.txt', 'w') as f:
    f.write(arr_to_str(clf.support_ + 1))